<div class="bg-light">
    <div class="user-helder" style="height:200px;">
    </div>
    <nav class="navbar navbar-light" style="background-color:white;">
        <div class="nav text-dark">
            <a class="nav-link" href="/user/Index"><i class="bili-text-20 bili-text-zhuye iconfont icon-shouyexuanzhong"></i>  主页</a>
            <a class="nav-link" href="/user/Publish"><i class="bili-text-20 iconfont icon-dongtaixuanzhong"></i>  动态</a>
            <a class="nav-link" href="/user/Upload"><i class="bili-text-20 iconfont icon-bofangqi-bofangxiaodianshi"></i>  投稿</a>
            <a class="nav-link" href="/user/Channel"><i class="bili-text-20 iconfont icon-fenquxuanzhong"></i>  频道</a>
            <a class="nav-link" href="/user/Collect"><i class="bili-text-20 iconfont icon-shoucangtianchong"></i>  收藏</a>
            <a class="nav-link" href="/user/Subscribe"><i class="bili-text-20 iconfont icon-yizhuifan"></i>  订阅</a>
            <a class="nav-link" href="/user/Amend"><i class="bili-text-20 iconfont icon-shezhi1"></i>  设置</a>
        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="/User/Carefor">关注数</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/User/Carefor">粉丝数</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">获赞数</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">播放数</a>
            </li>
        </ul>
    </nav>
</div>

