
@{
    ViewData["Title"] = "Carefor";
}


<div class="row justify-content-center">
    <div class="col-8">
        @Html.Partial("_head")
        <div class="row ">
            <div class="col-12 text-center">
                <h1>Carefor</h1>
                <h1>。。。开发中。。。</h1>
            </div>
        </div>
    </div>
</div>

