
@{
    ViewData["Title"] = "Index";
}



<div class="row justify-content-center">
    <div class="col-8">
        @Html.Partial("_head")
        <div class="row ">
            <div class="col-12">



                <div class="card" style="margin-top:5px;">
                    <hr class="bi-ml-15 bi-mr-15" />
                    <h3 class="bi-ml-15">我的视频</h3>
                    <div class="bi-minheight bg-light">

                    </div>
                    <hr class="bi-ml-15 bi-mr-15" />
                    <h3 class="bi-ml-15">我的专栏</h3>
                    <div class="bi-minheight bg-light">

                    </div>
                    <hr class="bi-ml-15 bi-mr-15" />
                    <h3 class="bi-ml-15">我的频道</h3>
                    <div class="bi-minheight bg-light">

                    </div>
                    <hr class="bi-ml-15 bi-mr-15" />
                    <h3 class="bi-ml-15">我的收藏夹</h3>
                    <div class="bi-minheight bg-light">

                    </div>
                    <hr class="bi-ml-15 bi-mr-15" />
                    <h3 class="bi-ml-15">订阅番剧</h3>
                    <div class="bi-minheight bg-light">

                    </div>
                    <hr class="bi-ml-15 bi-mr-15" />
                    <h3 class="bi-ml-15">订阅标签</h3>
                    <div class="bi-minheight bg-light">

                    </div>
                    <hr class="bi-ml-15 bi-mr-15" />
                    <h3 class="bi-ml-15">最近投币的视频</h3>
                    <div class="bi-minheight bg-light">

                    </div>
                    <hr class="bi-ml-15 bi-mr-15" />
                    <h3 class="bi-ml-15">我的相簿</h3>
                    <div class="bi-minheight bg-light">

                    </div>
                </div>






                <h1>Index</h1>
                <h1>。。。开发中。。。</h1>
            </div>
        </div>
    </div>
</div>