
@{
    ViewData["Title"] = "Publish";
}



<div class="row justify-content-center">
    <div class="col-8">
        @Html.Partial("_head")
        <div class="row ">
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-9">
                        <div class="card bi-mt-10 bi-minheight">

                        </div>
                        <div class="card bi-mt-10 bi-minheight">

                        </div>
                        <div class="card bi-mt-10 bi-minheight">

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bi-mt-10 bi-minheight">

                        </div>
                    </div>
                </div>
                



                <h1>Publish</h1>
                <h1>。。。开发中。。。</h1>
            </div>
        </div>
    </div>
</div>
