
@{
    ViewData["Title"] = "Register";
}


<div class="row justify-content-center" style="background-color:#00a0d8;height:86px;">
    <div class="col-7">
        <img src="~/image/login_register.png" />
    </div>
</div>




<div>

    <h3>注册</h3>

</div>