
@{
    ViewData["Title"] = "WatchRecord";
}





<div class="row justify-content-center">
    <div class="col-8 bi-bg-w">
        <div class="bi-mt-20 bi-ml-80">
            <p><i class="b-icon-history"></i><span class="bi-ml-10">历史记录</span></p>
        </div>
        @* 历史内容 *@
        <div id="userHistory"></div>
        <div class="row" style="height:150px;">
            <div class="col-1" style="border-right:1px solid  #e5e9ef;height:200px;"></div>
            <div class="col-2">
                <div class="bi-mt-50">
                    <span class="bi-text-small">2020-7-10 10:03</span>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-3" style="height:150px;">
                        <a  class=" bi-mt-10" href="#"><img src="~/image/854937068.jpeg" class="border border-secondary rounded" style="width:100%;height:90%;" /></a>
                    </div>
                    <div class="col-8">
                        <a href="#" class="bi-mt-10 bili-text-20">这是标题</a>
                        <p class="bi-mt-60"><a href="#" class="bi-text-small">使用什么看的</a><a href="#" class="bi-text-small" style="margin-left:40%;">up主</a><i class="bi-ml-10">|</i><a class="bi-text-small" href="#">分类</a></p>
                        <hr />
                    </div>
                    <div class="col-1">
                        <div class="bi-mt-50">
                            <a href="#"><i class="iconfont icon-shanchu bili-text-26"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="height:150px;">
            <div class="col-1" style="border-right:1px solid  #e5e9ef;height:200px;"></div>
            <div class="col-2">
                <div class="bi-mt-50">
                    <span class="bi-text-small">2020-7-10 10:03</span>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-3" style="height:150px;">
                        <img src="~/image/854937068.jpeg" class="border border-secondary rounded bi-mt-10" style="width:100%;height:90%;" />
                    </div>
                    <div class="col-8">
                        <p class="bi-mt-10 bili-text-20">这是标题</p>
                        <p class="bi-mt-60"><span class="bi-text-small">使用什么看的</span><span class="bi-text-small" style="margin-left:40%;">up主 | 分类</span></p>
                        <hr />
                    </div>
                    <div class="col-1">
                        <div class="bi-mt-50">
                            <a href="#"><i class="iconfont icon-shanchu bili-text-26"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:150px;">
            <div class="col-1" style="border-right:1px solid  #e5e9ef;height:200px;"></div>
            <div class="col-2">
                <div class="bi-mt-50">
                    <span class="bi-text-small">2020-7-10 10:03</span>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-3" style="height:150px;">
                        <img src="~/image/854937068.jpeg" class="border border-secondary rounded bi-mt-10" style="width:100%;height:90%;" />
                    </div>
                    <div class="col-8">
                        <p class="bi-mt-10 bili-text-20">这是标题</p>
                        <p class="bi-mt-60"><span class="bi-text-small">使用什么看的</span><span class="bi-text-small" style="margin-left:40%;">up主 | 分类</span></p>
                        <hr />
                    </div>
                    <div class="col-1">
                        <div class="bi-mt-50">
                            <a href="#"><i class="iconfont icon-shanchu bili-text-26"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:150px;">
            <div class="col-1" style="border-right:1px solid  #e5e9ef;height:200px;"></div>
            <div class="col-2">
                <div class="bi-mt-50">
                    <span class="bi-text-small">2020-7-10 10:03</span>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-3" style="height:150px;">
                        <img src="~/image/854937068.jpeg" class="border border-secondary rounded bi-mt-10" style="width:100%;height:90%;" />
                    </div>
                    <div class="col-8">
                        <p class="bi-mt-10 bili-text-20">这是标题</p>
                        <p class="bi-mt-60"><span class="bi-text-small">使用什么看的</span><span class="bi-text-small" style="margin-left:40%;">up主 | 分类</span></p>
                        <hr />
                    </div>
                    <div class="col-1">
                        <div class="bi-mt-50">
                            <a href="#"><i class="iconfont icon-shanchu bili-text-26"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:150px;">
            <div class="col-1" style="border-right:1px solid  #e5e9ef;height:200px;"></div>
            <div class="col-2">
                <div class="bi-mt-50">
                    <span class="bi-text-small">2020-7-10 10:03</span>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-3" style="height:150px;">
                        <img src="~/image/854937068.jpeg" class="border border-secondary rounded bi-mt-10" style="width:100%;height:90%;" />
                    </div>
                    <div class="col-8">
                        <p class="bi-mt-10 bili-text-20">这是标题</p>
                        <p class="bi-mt-60"><span class="bi-text-small">使用什么看的</span><span class="bi-text-small" style="margin-left:40%;">up主 | 分类</span></p>
                        <hr />
                    </div>
                    <div class="col-1">
                        <div class="bi-mt-50">
                            <a href="#"><i class="iconfont icon-shanchu bili-text-26"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


